/* anonymous-pro-regular - latin */
@font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
		 url('assets/fonts/Anonymous_Pro/anonymous-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  /* anonymous-pro-italic - latin */
  @font-face {
	font-family: 'Anonymous Pro';
	font-style: italic;
	font-weight: 400;
	src: local('Anonymous Pro Italic'), local('AnonymousPro-Italic'),
		 url('assets/fonts/Anonymous_Pro/anonymous-pro-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  /* anonymous-pro-700 - latin */
  @font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
		 url('assets/fonts/Anonymous_Pro/anonymous-pro-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  /* anonymous-pro-700italic - latin */
  @font-face {
	font-family: 'Anonymous Pro';
	font-style: italic;
	font-weight: 700;
	src: local('Anonymous Pro Bold Italic'), local('AnonymousPro-BoldItalic'),
		 url('assets/fonts/Anonymous_Pro/anonymous-pro-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
