/* mirza-regular - latin */
@font-face {
	font-family: "Mirza";
	font-style: normal;
	font-weight: 400;
	src: local("Mirza Regular"), local("Mirza-Regular"),
		url("assets/fonts/Mirza/mirza-v7-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* mirza-600 - latin */
@font-face {
	font-family: "Mirza";
	font-style: normal;
	font-weight: 600;
	src: local("Mirza SemiBold"), local("Mirza-SemiBold"),
		url("assets/fonts/Mirza/mirza-v7-latin-600.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* mirza-500 - latin */
@font-face {
	font-family: "Mirza";
	font-style: normal;
	font-weight: 500;
	src: local("Mirza Medium"), local("Mirza-Medium"),
		url("assets/fonts/Mirza/mirza-v7-latin-500.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* mirza-700 - latin */
@font-face {
	font-family: "Mirza";
	font-style: normal;
	font-weight: 700;
	src: local("Mirza Bold"), local("Mirza-Bold"), url("assets/fonts/Mirza/mirza-v7-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
