/* red-hat-display-regular - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 400;
	src: local("Red Hat Display"), local("RedHatDisplay-Regular"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-500 - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 500;
	src: local("Red Hat Display Medium"), local("RedHatDisplay-Medium"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-500.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-italic - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 400;
	src: local("Red Hat Display It"), local("RedHatDisplay-Italic"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-italic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-500italic - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 500;
	src: local("Red Hat Display Medium It"), local("RedHatDisplay-MediumItalic"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-500italic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-700italic - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 700;
	src: local("Red Hat Display Bold It"), local("RedHatDisplay-BoldItalic"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-700italic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-700 - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 700;
	src: local("Red Hat Display Bold"), local("RedHatDisplay-Bold"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-900 - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 900;
	src: local("Red Hat Display Black"), local("RedHatDisplay-Black"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-900.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* red-hat-display-900italic - latin */
@font-face {
	font-family: "Red Hat Display";
	font-style: italic;
	font-weight: 900;
	src: local("Red Hat Display Black It"), local("RedHatDisplay-BlackItalic"),
		url("assets/fonts/Red_Hat_Display/red-hat-display-v3-latin-900italic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
