@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./styles/fonts/anonymous_pro.scss";
@import "./styles/fonts/red_hat_display.scss";
@import "./styles/fonts/mirza.scss";

html {
  box-sizing: border-box;
  font-family: "Red Hat Display", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  // text-rendering: optimizeLegibility;
}

html,
body {
  position: relative;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;

  background: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.arabic {
  font-family: "Mirza", monospace;
}

.monospace {
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}
